################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/OrdenesProteccionPenal/OrdenesProteccionPenal/obj/Debug
/OrdenesProteccionPenal/OrdenesProteccionPenal/Vistas/Proceso.aspx
/OrdenesProteccionPenal/OrdenesProteccionPenal/bin
/Aspirantes/.vs/Aspirantes
/.vs/Aspirantes/v16/.suo
/Aspirantes/Aspirantes/bin
/Aspirantes/Aspirantes/obj/Debug
/Aspirantes/Aspirantes/css/principal.css
/OrdenesProteccionPenal/OrdenesProteccionPenal/obj/Release
/Aspirantes/Aspirantes/Aspirantes/css/pnotify.custom.min.js
/Aspirantes/Aspirantes/Aspirantes/css/pnotify.custom.min.css
/Aspirantes/Aspirantes/Aspirantes/css/animate.css
/Aspirantes/Aspirantes/Aspirantes/js/Sesion.js
/Aspirantes/Aspirantes/Aspirantes/img/pjem.png
/Aspirantes/Aspirantes
/Aspirantes/.vs/OrdenesProteccionPenal
/Aspirantes/.vs/OrdenesProteccionPenal2/v15
/Aspirantes/OrdenesProteccionPenal/OrdenesProteccionPenal/img
/Aspirantes/OrdenesProteccionPenal/OrdenesProteccionPenal/js
/Aspirantes/OrdenesProteccionPenal/OrdenesProteccionPenal/PNotify
/Aspirantes/OrdenesProteccionPenal
/Aspirantes/.vs
/Aspirantes
