################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/OrdenesProteccionPenal/OrdenesProteccionPenal/obj/Debug
/OrdenesProteccionPenal/OrdenesProteccionPenal/Vistas/Proceso.aspx
/OrdenesProteccionPenal/OrdenesProteccionPenal/bin
