################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/OrdenesProteccionPenal/OrdenesProteccionPenal/obj/Debug
/OrdenesProteccionPenal/OrdenesProteccionPenal/Vistas/Proceso.aspx
/OrdenesProteccionPenal/OrdenesProteccionPenal/bin
/Aspirantes/.vs/Aspirantes
/.vs/Aspirantes/v16/.suo
/Aspirantes/Aspirantes/bin
/Aspirantes/Aspirantes/obj/Debug
/Aspirantes/Aspirantes/css/principal.css
/OrdenesProteccionPenal/OrdenesProteccionPenal/obj/Release
