<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <pages>
        <controls>
          <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
	    <add tagPrefix="axT" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        </controls>
      </pages>
      <sessionState timeout="10"></sessionState>  
    </system.web>


  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!--<add key="local" value="datasource=10.22.157.155; database=ordenes_proteccion; port=3306; uid=root; password=;" /> -->
    <add key="local" value="datasource=10.22.157.155; database=ordenes_proteccion; port=3306; uid=172.17.7.11; password=QXskbKiKZeYBbRxK;" />
	<!--<add key="local" value="datasource=127.0.0.1; database=die_ordenes_proteccion_penal; port=3306; uid=root; password=;" /> -->
    <!--<add key="local" value="datasource=10.22.157.155;database=die_ordenes_proteccion_penal; port=3306; uid=NancyCrus; password=dlv46kWgKY9edGO5;" />-->

  </appSettings>

</configuration>
